project:
  type: website
  render:
    - "*.ipynb"        # Include all notebooks
    - "!*test*.ipynb"  # Exclude any notebook with "test" in the name
    - "!tmp_*.ipynb"   # Exclude temp files

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    keep-md: true
  commonmark: default

website:
  twitter-card: true
  open-graph: true
  repo-actions: [issue]
  navbar:
    background: primary
    search: true
  sidebar:
    style: floating

metadata-files: [nbdev.yml, sidebar.yml]